@use "variables" as *;
@use "text" as *;
@use "gridlayout" as *;
@use "mobile" as *;

body {
    background-color: $background-color;
    box-sizing: border-box;
}

.wraper {
    max-width: 1080px;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: column;
    a {
        margin: 1em 0;
    }
    text-align: center;
}